In [3]:
import pandas as pd

In [4]:
capes_dat = pd.read_csv('data/capes_data.csv')
salary_dat = pd.read_csv('data/prof_salary_data.csv')
rady_capes = pd.read_csv('data/rady_capes.csv')
merged_dat = pd.read_csv('data/merged_salary_capes.csv')

In [5]:
rady_capes.head()

,Instructor,Course,Quarter,Total Enrolled in Course,Total CAPEs Given,Percentage Recommended Class,Percentage Recommended Professor,Study Hours per Week,Average Grade Expected,Average Grade Received,Evalulation URL
0,Wilbur Kenneth C,MGT 100 - Customer Analytics (A),SP23,88,78,78.2%,79.5%,6.97,B (3.23),B (3.15),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
1,Wilbur Kenneth C,MGT 100 - Customer Analytics (B),SP23,89,83,77.1%,80.7%,6.99,B+ (3.36),B (3.15),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
2,Wilbur Kenneth C,MGT 100 - Customer Analytics (C),SP23,86,83,75.9%,71.1%,7.70,B+ (3.35),B (3.16),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
3,Ehrich Kristine R,MGT 103 - Product Marketing & Management (A),SP23,85,65,95.4%,93.8%,3.98,B+ (3.40),B (3.03),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
4,Ehrich Kristine R,MGT 103 - Product Marketing & Management (B),SP23,85,72,97.2%,98.6%,3.78,B+ (3.36),B (3.14),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...

In [6]:
salary_dat['Gross Pay'] = salary_dat['Gross Pay'].str.replace(',', '').astype(float)
salary_dat['Regular Pay'] = salary_dat['Regular Pay'].str.replace(',', '').astype(float)
salary_dat['Overtime Pay'] = salary_dat['Overtime Pay'].str.replace(',', '').astype(float)
salary_dat['Other Pay'] = salary_dat['Other Pay'].str.replace(',', '').astype(float)

In [7]:
salary_dat.dtypes

Year              int64
Location         object
First Name       object
Last Name        object
Title            object
Gross Pay       float64
Regular Pay     float64
Overtime Pay    float64
Other Pay       float64
dtype: object

In [8]:
total_pay = salary_dat.groupby(['First Name', 'Last Name'])['Gross Pay'].sum().reset_index()
total_pay.sort_values('Gross Pay', ascending=False)

     First Name Last Name  Gross Pay
61  VISWANATHAN  KRISHNAN  1932656.0
60          URI    GNEEZY  1642783.0
30        KEVIN       ZHU  1268271.0
43       RACHEL   GERSHON  1084331.0
29      KENNETH    WILBUR   994200.0
..          ...       ...        ...
51        SAT P  PARASHAR    32179.0
25       JULIUS   WISEMAN    22561.0
8         COLIN  CAMPBELL    16510.0
12        GUIDO    BALTES    11809.0
6     CHRISTINA     KLEIN       80.0

[64 rows x 3 columns]

In [56]:
salary_dat[salary_dat['First Name'] == 'DANIEL']

Empty DataFrame
Columns: [Year, Location, First Name, Last Name, Title, Gross Pay, Regular Pay, Overtime Pay, Other Pay]
Index: []

# Section 2

In [9]:
import matplotlib.pyplot as plt

In [34]:
clean_capes = pd.read_csv('data/clean_rady_capes.csv')
clean_capes.head()

,Instructor,Last Name,First Name,Course,Quarter,Year,Total Enrolled in Course,Total CAPEs Given,Percentage Recommended Class,% Recommend Class,Percentage Recommended Professor,% Recommend Instructor,Study Hours per Week,Average Grade Expected,GPA Expected,Average Grade Received,GPA Received,Evalulation URL
0,Wilbur Kenneth C,Wilbur,Kenneth,MGT 100 - Customer Analytics (A),SP23,2023,88,78,0.782,78.2,0.795,79.5,6.97,B (3.23),3.23,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
1,Wilbur Kenneth C,Wilbur,Kenneth,MGT 100 - Customer Analytics (B),SP23,2023,89,83,0.771,77.1,0.807,80.7,6.99,B+ (3.36),3.36,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
2,Wilbur Kenneth C,Wilbur,Kenneth,MGT 100 - Customer Analytics (C),SP23,2023,86,83,0.759,75.9,0.711,71.1,7.70,B+ (3.35),3.35,B (3.16),3.16,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
3,Ehrich Kristine R,Ehrich,Kristine,MGT 103 - Product Marketing & Management (A),SP23,2023,85,65,0.954,95.4,0.938,93.8,3.98,B+ (3.40),3.40,B (3.03),3.03,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
4,Ehrich Kristine R,Ehrich,Kristine,MGT 103 - Product Marketing & Management (B),SP23,2023,85,72,0.972,97.2,0.986,98.6,3.78,B+ (3.36),3.36,B (3.14),3.14,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...

In [32]:
import re

In [35]:
salary_dat.head()

,Year,Location,First Name,Last Name,Title,Gross Pay,Regular Pay,Overtime Pay,Other Pay
0,2023,San Diego,KRISTINE,EHRICH,LECT-AY-CONTINUING,195886.0,167724.0,0.0,28162.0
1,2023,San Diego,KENNETH,BATES,LECT-AY,141228.0,141228.0,0.0,0.0
2,2023,San Diego,TYAGARAJAN,SOMASUNDARAM,VIS ASSOC PROF,129708.0,129708.0,0.0,0.0
3,2023,San Diego,CARSTEN,ZIMMERMANN,VIS ASSOC PROF,195995.0,182395.0,0.0,13600.0
4,2023,San Diego,JON,ANDERSON,LECT-AY-1/9,51528.0,51528.0,0.0,0.0

In [37]:
clean_capes['First Name'] = clean_capes['First Name'].str.upper()
clean_capes['Last Name'] = clean_capes['Last Name'].str.upper()

In [38]:
clean_capes

,Instructor,Last Name,First Name,Course,Quarter,Year,Total Enrolled in Course,Total CAPEs Given,Percentage Recommended Class,% Recommend Class,Percentage Recommended Professor,% Recommend Instructor,Study Hours per Week,Average Grade Expected,GPA Expected,Average Grade Received,GPA Received,Evalulation URL
0,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (A),SP23,2023,88,78,0.782,78.2,0.795,79.5,6.97,B (3.23),3.23,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
1,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (B),SP23,2023,89,83,0.771,77.1,0.807,80.7,6.99,B+ (3.36),3.36,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
2,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (C),SP23,2023,86,83,0.759,75.9,0.711,71.1,7.70,B+ (3.35),3.35,B (3.16),3.16,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
3,Ehrich Kristine R,EHRICH,KRISTINE,MGT 103 - Product Marketing & Management (A),SP23,2023,85,65,0.954,95.4,0.938,93.8,3.98,B+ (3.40),3.40,B (3.03),3.03,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
4,Ehrich Kristine R,EHRICH,KRISTINE,MGT 103 - Product Marketing & Management (B),SP23,2023,85,72,0.972,97.2,0.986,98.6,3.78,B+ (3.36),3.36,B (3.14),3.14,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,Wagner Timothy Ryan,WAGNER,TIMOTHY,MGT 3 - Quant Methods in Business (A),WI20,2020,53,26,0.880,88.0,0.880,88.0,4.26,B+ (3.59),3.59,B (3.21),3.21,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
877,Levkoff Steven B.,LEVKOFF,STEVEN,MGT 4 - Financial Accounting (A),WI20,2020,9,3,0.667,66.7,0.667,66.7,5.17,C+ (2.67),2.67,NaN,NaN,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
878,Pecore Joseph P.,PECORE,JOSEPH,MGT 45 - Principles of Accounting (A),WI20,2020,141,131,0.969,96.9,0.969,96.9,5.75,B+ (3.47),3.47,B+ (3.34),3.34,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
879,Houskeeper Robert,HOUSKEEPER,ROBERT,MGT 5 - Managerial Accounting (A),WI20,2020,97,74,0.836,83.6,0.836,83.6,4.61,B (3.16),3.16,B- (2.92),2.92,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
880,Houskeeper Robert,HOUSKEEPER,ROBERT,MGT 5 - Managerial Accounting (B),WI20,2020,155,129,0.890,89.0,0.921,92.1,4.11,B+ (3.43),3.43,B (3.22),3.22,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...

In [40]:
merged_dat = clean_capes.merge(salary_dat, on=['First Name', 'Last Name', 'Year'], how='left')
merged_dat

,Instructor,Last Name,First Name,Course,Quarter,Year,Total Enrolled in Course,Total CAPEs Given,Percentage Recommended Class,% Recommend Class,...,GPA Expected,Average Grade Received,GPA Received,Evalulation URL,Location,Title,Gross Pay,Regular Pay,Overtime Pay,Other Pay
0,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (A),SP23,2023,88,78,0.782,78.2,...,3.23,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,NaN,NaN,NaN,NaN,NaN,NaN
1,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (B),SP23,2023,89,83,0.771,77.1,...,3.36,B (3.15),3.15,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilbur Kenneth C,WILBUR,KENNETH,MGT 100 - Customer Analytics (C),SP23,2023,86,83,0.759,75.9,...,3.35,B (3.16),3.16,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,NaN,NaN,NaN,NaN,NaN,NaN
3,Ehrich Kristine R,EHRICH,KRISTINE,MGT 103 - Product Marketing & Management (A),SP23,2023,85,65,0.954,95.4,...,3.40,B (3.03),3.03,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,195886.0,167724.0,0.0,28162.0
4,Ehrich Kristine R,EHRICH,KRISTINE,MGT 103 - Product Marketing & Management (B),SP23,2023,85,72,0.972,97.2,...,3.36,B (3.14),3.14,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,195886.0,167724.0,0.0,28162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,Wagner Timothy Ryan,WAGNER,TIMOTHY,MGT 3 - Quant Methods in Business (A),WI20,2020,53,26,0.880,88.0,...,3.59,B (3.21),3.21,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY,34493.0,34493.0,0.0,0.0
899,Levkoff Steven B.,LEVKOFF,STEVEN,MGT 4 - Financial Accounting (A),WI20,2020,9,3,0.667,66.7,...,2.67,NaN,NaN,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,111044.0,88717.0,0.0,22327.0
900,Pecore Joseph P.,PECORE,JOSEPH,MGT 45 - Principles of Accounting (A),WI20,2020,141,131,0.969,96.9,...,3.47,B+ (3.34),3.34,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,188561.0,174103.0,0.0,14458.0
901,Houskeeper Robert,HOUSKEEPER,ROBERT,MGT 5 - Managerial Accounting (A),WI20,2020,97,74,0.836,83.6,...,3.16,B- (2.92),2.92,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,163335.0,139603.0,0.0,23732.0
902,Houskeeper Robert,HOUSKEEPER,ROBERT,MGT 5 - Managerial Accounting (B),WI20,2020,155,129,0.890,89.0,...,3.43,B (3.22),3.22,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...,San Diego,LECT-AY-CONTINUING,163335.0,139603.0,0.0,23732.0

In [52]:
merged_dat.groupby(['Instructor', 'Year'])['Gross Pay'].max().sort_values(ascending=False)

Instructor            Year
Gneezy Uri            2022    558500.0
Krishnan Viswanathan  2023    555633.0
Gneezy Uri            2023    552133.0
                      2021    532150.0
Krishnan Viswanathan  2022    485292.0
                                ...
Wagner Timothy Ryan   2023         NaN
Wang Helen Shan       2022         NaN
Wilbur Kenneth C      2023         NaN
Yavorsky Daniel Ryan  2022         NaN
                      2023         NaN
Name: Gross Pay, Length: 253, dtype: float64